body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form{
    display: inline;
}

.main_filters{
    display: flex;

}
.main_filters_price{
    display: flex;
    width: 30%;

}

.main_filters_categories{
    display: flex;
    width: 30%;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #2a2730;
}

.coupon{
    margin-right: 15px;
}